<!DOCTYPE html>
<html xmlns:th="http://www.thymelyf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>
<h1>List of all product</h1>
<table border="2">
<thead>
<th>Image</th>
<th>Name</th>
<th>Description</th>
<th>Price</th>
<th>Action</th>
</thead>
<tbody>
<tr th:each="product:${products}">
<th scope="row"> <img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 100px;height: 100px;"> </th>
<td>[[*{product.name}]]</td>
<td>[[*{product.description}]]</td>
<td>[[*{product.price}]]</td>
</tr>
</tbody>
</table>
</center>
</body>
</html>